* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #888;
}
a:hover {
  color: #f5004b;
}
.clear::after {
  content: '';
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
  display: block;
}
#header {
  width: 100%;
  background-color: #f8f8f8;
  height: 30px;
}
#header #login {
  width: 1170px;
  height: 30px;
  margin: 0 auto;
}
#header #login .left {
  float: left;
}
#header #login .left > a:last-child {
  color: #f5004b;
}
#header #login .right {
  float: right;
}
#header #login .right li {
  float: left;
}
#header #login a {
  display: inline-block;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
}
#logo {
  width: 100%;
}
#logo .logo-pic {
  width: 1170px;
  margin: 0 auto;
  height: 120px;
  margin-top: 33px;
}
#logo .logo-pic > a {
  display: inline-block;
  width: 125px ;
  height: 56px;
  background: url(../img/logo.png) 0 0 no-repeat;
}
#logo .logo-pic > p {
  width: 135px ;
  height: 56px;
  display: inline-block;
  padding: 0 40px 0 0;
  background: url(../img/gwc.png) no-repeat;
}
#shopcar {
  width: 100%;
}
#shopcar .shopcar-tab {
  width: 1170px;
  margin: 0 auto;
}
#shopcar .shopcar-tab .shopcar-head {
  background: #eee;
  color: #333;
  height: 46px;
  font-size: 12px;
  line-height: 46px;
  margin-bottom: 10px;
}
#shopcar .shopcar-tab .shopcar-head a {
  color: #333;
}
#shopcar .shopcar-tab .shopcar-head a:hover {
  color: #f5004b;
}
#shopcar .shopcar-tab .shopcar-head > p {
  display: inline-block;
  width: 100px;
}
#shopcar .shopcar-tab .shopcar-head p:nth-child(2) {
  width: 500px ;
}
#shopcar .shopcar-tab .shopcar-head p:nth-child(4) {
  width: 200px;
}
#shopcar .shopcar-tab .shopcar-head p:nth-child(5) {
  width: 130px;
}
#shopcar .shopcar-tab .shopcar-body {
  border: 1px solid #ccc;
  border-bottom: 0;
  height: 122px;
}
#shopcar .shopcar-tab .shopcar-body p {
  display: inline-block;
  width: 100px;
  height: 60px ;
  vertical-align: top;
  margin-top: 20px;
}
#shopcar .shopcar-tab .shopcar-body p:first-child img {
  width: 80px;
  border: 1px solid #ccc;
  vertical-align: top;
}
#shopcar .shopcar-tab .shopcar-body p:first-child input {
  margin-top: 0;
  vertical-align: top;
}
#shopcar .shopcar-tab .shopcar-body p:nth-child(2) {
  width: 500px ;
}
#shopcar .shopcar-tab .shopcar-body p:nth-child(4) {
  width: 200px;
}
#shopcar .shopcar-tab .shopcar-body p:nth-child(4) > em {
  display: inline-block;
  border: 1px solid #ccc;
  width: 100px;
  font-style: normal;
  text-align: center;
}
#shopcar .shopcar-tab .shopcar-body p:nth-child(4) > em span {
  display: inline-block;
  width: 25px;
  cursor: pointer;
}
#shopcar .shopcar-tab .shopcar-body p:nth-child(4) > em span:first-child {
  float: left;
  border-right: 1px solid #ccc;
}
#shopcar .shopcar-tab .shopcar-body p:nth-child(4) > em span:last-child {
  float: right;
  border-left: 1px solid #ccc;
}
#shopcar .shopcar-tab .shopcar-body p:nth-child(3) {
  font-size: 12px;
}
#shopcar .shopcar-tab .shopcar-body p:nth-child(5) {
  font-size: 14px;
  font-weight: 700;
  width: 130px;
}
#shopcar .shopcar-tab .shopcar-body:last-of-type {
  border-bottom: 1px solid #ccc;
}
#total {
  width: 100%;
  background: #f3f3f3;
  margin-top: 20px;
}
#total .shopcar-foot {
  width: 1170px;
  height: 60px ;
  margin: 0 auto;
  line-height: 60px;
}
#total .shopcar-foot p {
  display: inline-block;
}
#total .shopcar-foot p a {
  color: #333;
}
#total .shopcar-foot p a:hover {
  color: #f5004b;
}
#total .shopcar-foot p .num,
#total .shopcar-foot p .money {
  color: #f00;
  font-size: 16px;
  font-weight: bolder;
  padding: 0 15px;
}
#total .shopcar-foot p:nth-child(3) {
  padding-left: 550px ;
}
#total .shopcar-foot .btn {
  float: right;
  width: 150px;
  height: 60px;
  background: #ccc;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}
#footer {
  margin-top: 50px;
  border-top: 1px solid #dd00a7;
}
#footer .statement {
  width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
#footer .statement p {
  line-height: 30px;
  color: #888;
}
#footer .statement p > a {
  display: inline-block;
  font-size: 14px;
  color: #666;
  padding-left: 5px;
}
#footer .statement p > a:hover {
  color: #f5004b;
}
